.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading{
    font-size: 30px;
    font-weight: 600;
}

.Link{
    color: black;
    text-decoration-line: none;
    
}